global
    user root
    group root

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

    # Stats required for this module to work
    # https://github.com/observing/haproxy#haproxycfg
    stats socket /tmp/haproxy.sock level admin

defaults
    mode    http
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    stats enable
    stats auth haproxy:B4110ng!
    stats uri /haproxy-status

resolvers k8s
    nameserver k8s 10.207.240.10:53
    hold valid 1s

frontend stats
    bind 0.0.0.0:8081
    mode http
    stats enable
    stats hide-version
    stats uri /

frontend http
    bind 0.0.0.0:80
    mode http
    option http-server-close
    option forwardfor

    acl host_zooom hdr(host) -m end zooom.no
    use_backend backend_zooom if host_zooom

    acl host_autofront hdr(host) -m sub autofront
    use_backend backend_autofront if host_autofront

    # untill we have more apps
    default_backend backend_zooom

backend backend_zooom
    server zooomserver animal-tv-web.animal-tv-web.cluster.local:80 resolvers k8s check inter 1000

backend backend_autofront
    server zooomserver autofront.autofront.svc.cluster.local:80 resolvers k8s check inter 1000

